@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikRegular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikMedium.otf);
    font-weight: 500;
}

body {
    font-family: Graphik;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

/* HEADER */

#header {
    background: var(--dark-background, #181818);
}

.header {
    display: flex;
    justify-content: space-around;
}

.header__nav a {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Link */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    text-decoration: none;
    align-items: center;
}

.btn-login {
    /* color: var(--light-background, #FFF); */
    background: var(--dark-background, #181818);

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    display: inline-flex;
    height: 52px;
    padding: 20px 36px;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--light-text, #FFF);
    color: #FFF;

    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

    margin-top: 33px;
    cursor: pointer;

}

@media screen and ( max-width: 640px) {
    .hero__info__title h1 {
        color: var(--light-text, #FFF);
        text-align: center;
        
        /* Second Headline */
        font-family: Graphik;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 62px; /* 119.231% */
        letter-spacing: 0.2px;
    }
    .hero__info__p  {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__info__img {
        width: 539.695px;
        height: 435px;
        flex-shrink: 0;
    }

    .hero__info__btns {
        display: flex;
        flex-direction: column;
        display: flex;
        padding: 10px 30px;
        align-items: center;
    }

    .frame__19__img {
        width: 376px;
        height: 406px;
        margin-left: 80px;
    }

    .features__img__info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* HEADER */
/* SECTION-HERO */
#hero {
    background: var(--dark-background, #181818);
}

.hero__info__title h1 {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Headline */
    font-family: Graphik;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px; /* 110% */
    letter-spacing: 0.2px;
    /* margin-top: 105px; */
    padding: 100px 0;
}

.hero__info__p p {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Sub Heading */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}

.btn-one {
    background: var(--primary, #4452FE);

    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 10px 30px;
    align-items: center;
    color: var(--light-text, #FFF);

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    border: none;
    cursor: pointer;
}

.btn-two {
    background: var(--dark-background, #181818);
    /* color: var(--light-background, #FFF); */

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    border: 1px solid var(--light-text, #FFF);
    color: #FFF;

    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 10px 30px;
    cursor: pointer;
    
}

.hero__info__btns {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    gap: 35px;
}

.hero__info__img {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
/* SECTION-HERO */
/* SECTION-FEATURES */
.features__title h1 {
    color: var(--light-text, #FFF);

    /* Second Headline */
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 200px;
}

.features__p {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Sub Heading */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.frame__19__img {
    margin-top: 80px;
}

.features__img__info {
    display: flex;
}

.features__info {
    margin-top: 80px;
}

.spoon {
    color: var(--light-text, #FFF);

    /* Title */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
}

.spoon__p {
    color: var(--light-text, #FFF);

    /* Paragraphe */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.nlo {
    color: var(--light-text, #FFF);

    /* Title */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 20px;
}

.nlo__p {
    color: var(--light-text, #FFF);

    /* Paragraphe */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.infinity {
    color: var(--light-text, #FFF);

    /* Title */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 20px;

}

.infinity__p {
    color: var(--light-text, #FFF);

    /* Paragraphe */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 20px;
}

/* SECTION-FEATURES */
/* SECTION-CONTENTS */

.contents__title h1 {
    color: var(--light-text, #FFF);

    /* Second Headline */
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 170px;
}

.contents__p {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Sub Heading */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.blocks__contents {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.contents__blocks {
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background: var(--light-background, #FFF);
    
    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 476px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 57px;
}   

.block__one  {
    color: var(--first-text, #000);
    text-align: center;
    
    /* Title */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
}

.contents__blocks p {
    color: var(--second-text, #5C5C5C);
    text-align: center;
    
    /* Paragraphe */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
}

.btn__block__one {
    background: var(--primary, #4452FE);

    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 52px;
    padding: 20px 36px;
    align-items: center;
    border: none;
    color: var(--light-text, #FFF);

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    cursor: pointer;
}

.contents__blocks__two {
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background: var(--light-background, #FFF);
    
    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 476px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.block__two {
    color: var(--first-text, #000);
    text-align: center;
    
    /* Title */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
}

.contents__blocks__two p {
    color: var(--second-text, #5C5C5C);
    text-align: center;
    
    /* Paragraphe */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
}

.btn__block__two {
    background: var(--primary, #4452FE);

    /* shadow */
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 52px;
    padding: 20px 36px;
    align-items: center;
    border: none;
    color: var(--light-text, #FFF);

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    cursor: pointer;
}

@media screen and ( max-width: 640px) {
    .contents__blocks {
        display: flex;
        justify-content: center;
        width: 348px;
        padding: 40px 0px;
        /* flex-direction: column; */
        align-items: center;
        gap: 57px;
        border-radius: 10px;
        border: 1px solid #D3D3D3;
        background: var(--light-background, #FFF);
        margin-left: 80px;
        
        /* shadow */
        box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    }

    .block__one__img img {
        width: 297.031px;
        height: 174.955px;
    }

    .contents__blocks__two {
        display: flex;
        width: 353px;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border-radius: 10px;
        border: 1px solid #D3D3D3;
        background: var(--light-background, #FFF);
        margin-left: 80px;
        margin-top: 40px;
        
        /* shadow */
        box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    }

    .block__two__img img {
        width: 280px;
        height: 204px;

    }

    .blocks__contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
}

/* SECTION-CONTENTS */
/* SECTION-GALLERY */

.gallery__title h1 {
    color: var(--light-text, #FFF);

    /* Second Headline */
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 250px;
}

.gallery__p p {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Sub Heading */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.gallery__img__collage img {
    /* width: 225px;
    height: 285px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 10px;
}

.gallery__img__collage {
    display: flex;
    justify-content: center;
    gap: 20px   ;
}

.laptop {
    border-radius: 10px;
    width: 395px;
    height: 285px;
}

.laptop-mini {
    width: 225px;
    height: 285px;
    border-radius: 10px;
}

.gallery__img__electronic img {
    border-radius: 10px;
}

.gallery__img__electronic {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery__btn__info {
    border: 1px solid var(--light-text, #FFF);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 52px;
    padding: 10px 30px;
    align-items: center;
    background: var(--dark-background, #181818);
    color: var(--light-text, #FFF);

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    cursor: pointer;
}

.gallery__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media screen and ( max-width: 640px) {
    .gallery__img__electronic {
        display: none;
    }

    .gallery__img__collage {
        display: flex;
        flex-direction: column;
    }

    .gallery__img__collage img {
        width: 329px;
        height: 285px;
        margin-left: 100px;
        margin-top: 30px;
    }
}

/* SECTION-GALLERY */
/* SECTION-PARTNERS */

.partners__title h1 {
    color: var(--light-text, #FFF);

    /* Second Headline */
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 150px;
}

.partners__info p {
    color: var(--light-text, #FFF);
    text-align: center;
    
    /* Sub Heading */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 15px;
}

.partners__logo__info {
    display: flex;
    margin-top: 40px;
    gap: 50px;
    justify-content: center;
}

.appstore-logo {
    width: 60px;
    height: 60px;
}

.apiary-logo {
    width: 60px;
    height: 60.703px;
}

.android-logo {
    width: 60px;
    height: 70.547px;
}

.basecamp-logo {
    width: 72.113px;
    height: 60px;
}

.airbmb {
    width: 60px;
    height: 64.688px;
}

.imb-logo {
    width: 149.854px;
    height: 60px;
}

.partners__btn {
    border: 1px solid var(--light-text, #FFF);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 52px;
    padding: 10px 30px;
    align-items: center;
    background: var(--dark-background, #181818);

    color: var(--light-text, #FFF);

    /* Button */
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
}

.partners__btn-info {
    display: flex;
    justify-content: center;
    margin-top: 67px;
}

@media screen and ( max-width: 640px) {
    .partners__logo__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
